/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;  */
body {
    max-width: 100%;
    background-color: #141010;
}

.container,
.contact {
    max-width: 100%;
}

.projects-block {
    padding: 0 100px;
}

.navbar,
.navbar-collapse,
.nav-item {
    max-width: 100%;
    margin-left: none;
}

.nav-item ul {
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
}

.navbar a {
    color: #fff;
    text-transform: uppercase;
}


.nav-item a:after {
    display: block;

    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 5px;
    /*задаём ширину линии*/
    background-color: #f70776;
    /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out;
    /*задаём время анимации*/
}

.nav-item a:hover:after,
.nav-item a:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.navbar img {
    margin-right: 50px;

}



.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link,
.nav-link:focus,
.nav-link:hover {
    color: #f70776;

}

.navbar-brand a:after {
    color: none;
}

.menu {
    justify-content: start;
    margin: 20px 0px;
}

.btn-header {
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(178deg, rgb(247, 7, 118) 0%, rgb(104, 7, 71) 100%);
    border: none;
    max-height: 50%;
    padding: 15px 25px;

}

.btn-header:hover {
    background: linear-gradient(220deg, rgb(247, 7, 118) 0%, rgb(104, 7, 71) 100%);
    color: #fff !important;
}



h1,
h2 {
    font-family: 'Raleway', sans-serif;
    color: #f70776;
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 22px;
    margin: 0;
    text-transform: uppercase;
}

p.description,
p.description-project {
    font-size: 17px;
    text-transform: none;
    padding-bottom: 30px;
}

p.description-project {
    margin-right: 50px;
}

p.small-desc {
    font-size: 15px;
    color: #8b8b8b;
    padding-bottom: 20px;
}

.name-prjct {
    text-align: left;
    font-size: 30px;

}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-img-top {
    max-width: 100px;
}


.experience-name {
    font-size: 25px;
}

.offer,
.contact,
.about-me {
    text-align: center;
    background: #141010;
    padding: 50px 0;
}

.experience {
    display: flex;
    justify-content: center;
}


.card {
    background-color: #141010;

}

.card-text {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
}


.my-photo {
    width: 35%;
    box-shadow: 6px 6px rgba(195, 25, 93, 1);
    margin-bottom: 40px;
}


.btn-branding {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(178deg, rgb(247, 7, 118) 0%, rgb(104, 7, 71) 100%);
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    flex-direction: column;
    justify-content: center;
}

.btn-first {
    width: 30%;
}

.btn-prjct {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    background: none;
    border: 2px #f70776 solid;
    border-radius: 50px;
    padding: 15px 60px;
    flex-direction: column;
    justify-content: center;

}

.btn-prjct:hover {
    border: none;
}


.btn-branding:hover {
    background: linear-gradient(220deg, rgb(247, 7, 118) 0%, rgb(104, 7, 71) 100%);
    color: #fff !important;

}

.btn:first-child:hover {
    color: #fff !important;
}

.contact-icon {
    display: flex;
    justify-content: center;
    text-align: center;
}

.description-footer {
    font-size: 12px;
    text-align: center;
    background: #141010;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: none;
}


.description-footer a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 4px solid #f70776;
    text-transform: capitalize;
    transition: width 0.3s ease-out;
}

.description-footer a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: none;

}

.fa-brands,
.fa-solid {
    font-size: 45px;
    color: #fff;
    transition: width 0.3s ease-out;
    margin: 10px;
}

.fa-brands:hover,
.fa-solid:hover {
    font-size: 40px;
    color: #f70776;
}

.contact-icon ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.projects-block-page {
    display: flex;
    justify-content: center;
    max-width: 100%;

}

.other-prjct {
    margin-top: 70px;
    margin-bottom: 50px;
}

.year {
    color: #f70776;
    font-weight: 300;
}

.projects-block-page img {
    border: 10px solid #f70776;
}


.name-contacts {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}


.contact-page p {
    text-align: center;
}

.link-contact {

    text-transform: none;
    text-decoration: none;
    color: #f70776;
    position: relative;
    cursor: pointer;
}

.link-contact:hover {
    color: #f70776;
}

.link-contact:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0;
    height: 5px;
    color: #f70776;
    /* Высота линии */
    background-color: none;
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.link-contact:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    color: #f70776;
    height: 5px;
    /* Высота линии */
    background-color: #f70776;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.contact-page {
    margin-bottom: 50px;
}

@media (max-width: 768px) {

    h1,
    h2 {
        font-size: 40px;
        max-width: 100%;
    }

    .experience {

        flex-direction: column;
        align-items: center;
    }

    .experience-name {
        font-size: 20px;
    }

    .card-img-top {
        max-width: 50px;
        margin-top: 30px;
    }

    .btn-header {
        display: none;
    }

    .navbar-toggler {

        display: flex;
        justify-content: start;
    }


    .nav-logo {
        max-width: 100px;
        display: flex;
        justify-content: start;
    }

    p .description {
        font-size: 15px;
    }

    .offer,
    .contact {
        padding: 50px 20px;
    }

    .btn-first {
        width: 50%;
    }

    .my-photo {
        width: 50%;

    }

    .projects-block {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }



    .description-block,
    .img-fluid {

        display: flex;
        flex-direction: column;
        justify-items: auto;
    }

    .description-block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .image {
        justify-content: start;
        margin-right: 0;

    }


    .name-prjct,
    p.small-desc,
    p.description-project {
        text-align: center;

    }

    .btn-prjct {

        max-width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }

    .name-prjct {
        margin-top: 30px;
    }

    p.description-project {
        margin-right: auto;
    }

    .col {
        flex: auto;
    }



    .contact-icon {
        gap: 20px;
    }

}

@media (min-width: 768px) {
    .btn-header {

        max-height: 50px;
        margin-right: 20px;
    }

    .btn-header a {
        max-width: 100%;
    }

}